
    /* Style the main container */
    .form-content {
        margin: 100px auto;
        width: 80%;
        max-width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-content p {
        text-align: center;
        font-size: 12px
    }

    .form-content h1 {
        text-align: center;
        color: #333;
    }

    .form-content form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-content label {
        font-weight: bold;



    }

    .form-content select,
    input[type="date"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .form-content #danhSachCaVaStylistWrapper {
        display: none;
    }
    .form-content #danhSachCa {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        border: 1px solid #ddd; /* Đường viền giữa các mục */
        border-radius: 8px; /* Đường viền cong */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng */
      }
      /* CSS cho checkbox */
      .form-content input[type="checkbox"] {
        margin-right: 5px; /* Khoảng cách giữa checkbox và văn bản */
      }
      .form-content .ca-label {
        display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 8px; /* Độ bo tròn và khoảng cách với đường biên */
  background-color: #f5f5f5; /* Màu nền */
  border-radius: 8px; /* Đường biên cong */
  cursor: pointer; /* Hiển thị con trỏ khi di chuột */
  transition: background-color 0.3s ease; /* Hiệu ứng màu nền */
          }
          
          .form-content .ca-label:hover {
            background-color: #e0e0e0; /* Màu nền khi di chuột qua */
          }
      
          .form-content .ca-label.chon {
              background-color: #3498db;
              color: #fff;
          }
          .form-content input[type="checkbox"] {
              display: none;
              margin-right: 5px;
          }

    .form-content input[type="submit"] {
        background-color: #3498db;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-content input[type="submit"]:hover {
        background-color: #085b92;
    }